/assets
/protected/config
/yii_11

calculator.esproj/user.adam-macbook.espressostorage
/calculator.esproj

*.log
.DS_Store

protected/.DS_Store

calculator.esproj/user.adamcarter.espressostorage

protected/runtime/application.log

*.espressostorage

calculator.esproj/Project.espressostorage
